<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Recently Published Games</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <% @games.each do |g| %>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <%=image_tag(g.image.url(:medium), width: 350) if g.image.present? %>
                <div class="caption">
                    <h3><%=g.title%></h3>
                    <p><a href="#" class="btn btn-default">More Info</a></p>
                </div>
            </div>
        </div>
    <% end %>

</div>
<!-- /.row -->
<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Recently Published Platform</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <% @platforms.each do |p| %>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <%=image_tag(p.image.url(:medium), width: 350) if p.image.present? %>
                <div class="caption">
                    <h3><%=p.name%></h3>
                    <p><a href="#" class="btn btn-default">More Info</a></p>
                </div>
            </div>
        </div>
    <% end %>

</div>
<!-- /.row -->
<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Recently Published Softhouse</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <% @softhouses.each do |s| %>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <%=image_tag(s.image.url(:medium), width: 350) if s.image.present? %>
                <div class="caption">
                    <h3><%=s.name%></h3>
                    <p><a href="#" class="btn btn-default">More Info</a></p>
                </div>
            </div>
        </div>
    <% end %>

</div>
<!-- /.row -->
<hr>